/* fonts colors */
$color-principal: rgb(49, 35, 35);
$color-secundario: rgb(69, 59, 59);
$color-boton: rgb(250, 249, 255);

/* tipos de letra */
$font-h1: 'Abril Fatface', cursive;
$font-body: 'Poppins', sans-serif;

/* Background */
$color-background: rgb(206, 190, 175);
$color-headerCard: rgb(179, 166, 153);
$color-cardBest: rgb(150, 136, 123);
