@import 'variables';

*{
    margin: 0px;
    padding: 0px;
}

/* HEADER */
header{
    background-color: $color-headerCard;
    margin-bottom: 1rem;
}

h1{
    font-family: $font-h1;
    font-weight:lighter;
    font-size: 38px;
    color:$color-principal;
}
/* fin del HEADER */



/* FOOTER */
.newsletter__button{
    padding: 3px;
    font-family: $font-body;
}
/* fin del FOOTER */


/* COSAS GENERALES */
body{
    background-color: $color-background;
    font-family: $font-body;
    color: $color-secundario;
    /* width: 100%; */
}
h2{
    margin: 4px;
    font-size: 18px;
    font-weight: bold;
    color: $color-principal;
} 
h3, .información__títulos{
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    color: $color-principal;
}
a{
    text-decoration: none;
    color: $color-principal;
}
article{
    margin: 2rem 0;
}


.tamaño{
    &Imagenes{
        width: 50%;
        border-radius: 5%;
        &:hover{
            transform: scale(2);
            transition: 1s;
        }
    }
    &Iconos{
        width: 40px
    }
}
.boton{
    padding: 0.4rem;
    font-family: $font-body;
    color:$color-boton;
    border-radius: 15px;
    border-color: rgb(44, 23, 23);
    background-image: linear-gradient(to top, rgb(44, 23, 23), rgb(61, 41, 41) );
}

$productos:(
    key1: "im-collares-hanna.jpg",
    key2: "im-choker-daisy.jpg",
    key3: "im-collar-sailor.jpg",
    key4: "im-collar-perlas.jpg",
);

@mixin mixCard ($background-color) {
    background-color: $background-color;
    border-radius: 5%;
    align-items: center;
    padding: 5% 0%;
}
.card{
    @include mixCard($color-headerCard);
    &__best{
        @include mixCard($color-cardBest);
    }
    &-title{
        font-size: larger;
    }
}

/* INDEX */
.portada{
    &__titulo{
        font-size: 20px;
    }
    &__img{
        width: 40rem;
        border-radius: 5%;
        margin-bottom: 1rem;
    }
}
.new__titulo{
    font-size: 19px;
}
.best__titulo{
    font-size: 19px;
}
/* fin del INDEX */

.productos{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "productosIntro";
        margin: 1.5rem 2rem;
        justify-content:space-between;
    }
    &Intro{
        grid-area: productosIntro;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "contactoFormas contactoLugar";
        grid-gap: 1%;
        margin: 1.2rem 2rem;
        justify-content:space-evenly;
    }
    &Formas{
        grid-area: contactoFormas;
        align-items: start;
        margin-left: 40%;
        @extend .flexColumnCenter;
    }
    &Lugar{
        grid-area: contactoLugar;
        align-items: center;
        @extend .flexColumnCenter;
    }
    &__iframe{
        width: 25rem;
        height: 15rem;
        border-radius: 2rem;
    }
}


/* NUESTRA HISTORIA */
.flexColCenterCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.historia{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "historiaNosotras"
        "historiaMision"
        "historiaVision";
        margin: 2rem;
    }
    &Nosotras{
        grid-area: historiaNosotras;
        @extend .flexColCenterCenter;
    }
    &Mision{
        grid-area: historiaMision;
        @extend .flexColCenterCenter;
    }
    &Vision{
        grid-area: historiaVision;
        @extend .flexColCenterCenter;
    }
}
main section div img{
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 3rem;
}
/* fin NUESTRA HISTORIA */


@import 'mediaqueries';