@import 'variables';

*{
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    background-color: $color-headerCard;
    margin-bottom: 1rem;
}

h1{
    font-family: $font-h1;
    font-weight:lighter;
    font-size: 38px;
    color:$color-principal;
}
/* fin del HEADER */



/* FOOTER */
.newsletter{
    margin-top: 2.5rem;
    &__button{
        padding: 0.2rem;
        font-family: $font-body;
    }
}
/* fin del FOOTER */


/* COSAS GENERALES */
body{
    background-color: $color-background;
    font-family: $font-body;
    color: $color-secundario;
}
h2{
    margin: 0.7rem;
    font-size: 18px;
    font-weight: bold;
    color: $color-principal;
} 
h3, .información__títulos{
    margin: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    color: $color-principal;
}
a{
    text-decoration: none;
    color: $color-principal;
}
article{
    margin: 2rem 0;
}


.tamaño{
    &__imagenes{
        width: 20vw;
        border-radius: 1rem;
        &NewBest{
            width: 20vw;
            border-radius: 1rem;
            &:hover{
                transform: scale(1.5);
                transition: 1s;
            }
        }
    }
    &__iconos{
        width: 3vw;
    }
}
.boton{
    padding: 0.4rem;
    font-family: $font-body;
    color:$color-boton;
    border-radius: 1rem;
    border-color: rgb(44, 23, 23);
    background-image: linear-gradient(to top, rgb(44, 23, 23), rgb(61, 41, 41) );
}

@mixin mix__card ($background-color) {
    background-color: $background-color;
    border-radius: 1rem;
    align-items: center;
    padding: 1rem 0;
}
.card{
    @include mix__card($color-headerCard);
    &__best{
        @include mix__card($color-cardBest);
    }
    &-title{
        font-size: larger;
    }
}

/* INDEX */
.portada{
    &__titulo{
        font-size: 20px;
        margin-bottom: 1rem;
    }
    &__img{
        width: 50vw;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}
.new{
    &__div{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    &__titulo{
        font-size: 19px;
    }
}
.best{
    &__div{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    &__titulo{
        font-size: 19px;
    }
}
.index__boton{
    font-size: 15px;
}
/* fin del INDEX */

.productos{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "productosIntro";
        margin: 1.5rem 2rem;
        justify-content:space-between;
    }
    &__intro{
        grid-area: productosIntro;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: 
        "contactoFormas contactoLugar";
        grid-gap: 2rem;
        margin: 1.2rem 2rem;
        justify-content:space-evenly;
    }
    &__formas{
        grid-area: contactoFormas;
        align-items: center;
        margin-left: 10rem;
        @extend .flexColumnCenter;
    }
    &__lugar{
        grid-area: contactoLugar;
        align-items: center;
        @extend .flexColumnCenter;
    }
    &__iframe{
        width: 45vw;
        height: 38vh;
        border-radius: 2rem;
    }
}


/* NUESTRA HISTORIA */
.flexColCenterStart{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
.historia{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-areas:
        "historiaPresentacion historiaPresentacion historiaImg"
        "historiaNosotras historiaNosotras historiaImg"
        "historiaMision historiaVision historiaImg";
        margin: 2rem;
        grid-column-gap: 3rem;
    }
    &__presentacion{
        grid-area: historiaPresentacion;
        margin-top: 1rem;
    }
    &__nosotras{
        grid-area: historiaNosotras;
        justify-content:center;
        @extend .flexColCenterStart;
    }
    &__img{
        grid-area: historiaImg;
        @extend .flexColCenterStart;
    }
    &__mision{
        grid-area: historiaMision;
        @extend .flexColCenterStart;
    }
    &__vision{
        grid-area: historiaVision;
        @extend .flexColCenterStart;
    }
}
main section div img{
    width: 31vw;
    border-radius: 2rem;
}
.negrita{
    font-weight: bold
}


/* INFORMACIÓN */
.información__container{
    margin:0 3rem;
    margin-bottom: 2rem;
}
.subrayado{
    text-decoration: underline;
}


@import 'mediaqueries';