@import 'variables';

*{
    margin: 0px;
    padding: 0px;
}

/* HEADER */
header{
    background-color: $color-headerCard;
    margin-bottom: 1rem;
}

h1{
    font-family: $font-h1;
    font-weight:lighter;
    font-size: 38px;
    color:$color-principal;
}
/* fin del HEADER */



/* FOOTER */
.newsletter__button{
    padding: 3px;
    font-family: $font-body;
}
/* fin del FOOTER */


/* COSAS GENERALES */
body{
    background-color: $color-background;
    font-family: $font-body;
    color: $color-secundario;
    /* width: 100%; */
}
h2{
    margin: 4px;
    font-size: 18px;
    font-weight: bold;
    color: $color-principal;
} 
h3{
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    color: $color-principal;
}
a{
    text-decoration: none;
    color: $color-principal;
}
article{
    margin: 2rem 0;
}


.tamaño{
    &Imagenes{
        width: 50%;
        border-radius: 5%;
        &:hover{
            transform: scale(2);
            transition: 1s;
        }
    }
    &Iconos{
        width: 40px
    }
}
.boton{
    padding: 0.4rem;
    font-family: $font-body;
    color:$color-boton;
    border-radius: 15px;
    border-color: rgb(44, 23, 23);
    background-image: linear-gradient(to top, rgb(44, 23, 23), rgb(61, 41, 41) );
}
.card{
    background-color: $color-headerCard;
    border-radius: 5%;
    align-items: center;
    padding: 5% 0%;
    &__best{
        background-color: $color-cardBest;
    }
}

/* INDEX */
.portada{
    &__titulo{
        font-size: 20px;
    }
    &__img{
        width: 45rem;
        border-radius: 5%;
        margin-bottom: 1rem;
    }
}
.new__titulo{
    font-size: 19px;
}
.best__titulo{
    font-size: 19px;
}
/* fin del INDEX */

.productos{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "productosIntro";
        margin: 1.5rem 2rem;
        justify-content:space-between;
    }
    &Intro{
        grid-area: productosIntro;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.contacto{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "contactoFormas contactoLugar";
        grid-gap: 1%;
        margin: 1.2rem 2rem;
        justify-content:space-evenly;
    }
    &Formas{
        grid-area: contactoFormas;
        align-items: start;
        margin-left: 40%;
    }
    &Lugar{
        grid-area: contactoLugar;
        align-items: center;
    }
    &__iframe{
        width: 25rem;
        height: 15rem;
        border-radius: 2rem;
    }
}
.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NUESTRA HISTORIA */
.historia{
    &__gridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "historiaNosotras"
        "historiaMision"
        "historiaVision";
        margin: 2rem;
    }
    &Nosotras{
        grid-area: historiaNosotras;
    }
    &Mision{
        grid-area: historiaMision;
    }
    &Vision{
        grid-area: historiaVision;
    }
}
.flexColCenterCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main section div img{
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 3rem;
}
/* fin NUESTRA HISTORIA */


/* MEDIA QUERIES */
@media (min-width:1023px) and (max-width: 1200px){
    .new__div{
        margin: 2rem 0rem;
    }
    .best__div{
        margin-top: 2.5rem;
        margin-bottom: 0.2rem;
    }

    .card{
        margin: 1rem 0.2rem;
    }
    .row{
        margin-bottom: 0px;
    }

    .newsletter{
        margin-top: 2rem;
        margin-bottom: 1rem;
        &__icono{
            margin: 0.5rem;
        }
    }
}

/* IPAD vertical */

@media (min-width:768px) and (max-width: 1023px){

    .new__div{
        margin: 2rem 0rem;
    }
    .best__div{
        margin-top: 1.5rem;
        margin-bottom: 0.25rem;
    }


    .card{
        margin: 0.7rem 0rem;
        &-title{
            font-size: 18px;
        }
    }
    .btn-primary{
        font-size: 16px;
    }
    .tamañoImagenes:hover{
        transform: scale(1);
    }
    .row{
        margin-bottom: 0px;
    }

    .productos__boton{
        margin: 1rem 0rem;
    }

    .newsletter{
        margin-top: 2rem;
        margin-bottom: 1rem;
        &__icono{
            margin: 0.25rem;
        }
    }

    .contacto{
        &Formas{
            justify-content: start;
        }
        &__iframe{
            width: 50%;
            height: 80%;
        }
    }
}


/* TABLET pequeña */
@media (min-width:541px) and (max-width: 767px){

    
    h1{
        font-size: 40px;
    }
    .portada__titulo{
        font-size: 20px;
    }
    .portada{
        &__titulo{
            margin: 0.5rem 0rem;
        }
        &__boton{
            font-size: 13px;
        }
    }

    .new{
        &__div{
            margin-top: 2.5rem;
        }
        &__titulo{
            font-size: 20px;
        }
    }
    .best{
        &__div{
            margin-top: 3rem;
        }
        &__titulo{
            font-size: 20px;
        }
    }


    .card{
        margin: 0.7rem 5rem;
        &-title{
            font-size: 20px;
        }
    }
    .btn-primary{
        font-size: 14px;
    }
    .tamaño{
        &Imagenes:hover{
            transform: scale(1);
        }
        &Iconos{
            width: 36px
        }
    }

    article{
        margin-bottom: 0.5rem;
    }

    .newsletter{
        margin-top: 2rem;
        margin-bottom: 1rem;
        &__icono{
            margin: 0.5rem;
        }
    }

    .contacto__iframe{
        width: 50%;
        height: 80%;
    }
}

/* CELULAR */
@media (min-width:320px) and (max-width: 540px){
    
    .portada{
        &__titulo{
            margin-bottom: 2rem;
        }
        &__img{
            display: none;
        }
        &__boton{
            display: none;
        }
    }
    .best__titulo{
        margin-top: 1.5rem;
    }

    .card{
        margin: 1rem;
        &-title{
            font-size: 18px;
        }
    }
    .btn-primary{
        font-size: 15px;
        padding: 0.5rem;
    }
    .tamaño{
        &Imagenes:hover{
            transform: scale(1);
        }
        &Iconos{
            width: 34px
        }
    }
    .row{
        margin-bottom: 0px;
    }

    .newsletter{
        font-size: smaller;
        margin-top: 2rem;
        &__p{
            margin: 0 1rem;
        }
        &__button{
            padding: 3px;
        }
        &__icono{
            margin: 0.5rem;
        }
    }

    .contacto{
        &__gridContainer{
            grid-template-columns: 1fr;
            grid-template-areas: 
            "formasContacto"
            "lugarContacto";
            grid-gap: 5%;
        }
        &Formas{
            justify-content: center;
            align-items: center;
            margin-left: 0%;
        }
        &__iframe{
            width: 80%;
            height: 100%;
        }
    }
}